* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: cadetblue;
  position: relative;
}
header img {
  padding: 30px;
}
.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 50px;
}
nav {
  position: absolute;
  top:100%;
  width: 100%;
  transform: scale(1,0);
}
nav ul {
  list-style: none;
  display: inline-block;
  width: 100%;
  background: blanchedalmond;
}
nav li {
  margin: 5px 0 5px 20px;
  text-transform: uppercase;
}
.navbar-toggle:checked ~ nav {
  transform: scale(1,1);
}
label {
 
  position: absolute;
  top: 0px;
  right: 0px;
  border: 1px solid red;
}
label div {
  position: relative;
}
.hamburger  {
  position: absolute;
  z-index: 8;
}
.close {
  visibility: hidden;
}