* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  position: fixed;
  top: 0px;
  width: 100%;
  /* background: hsl(13, 100%, 96%); */
  border: 1px solid red;
}
@font-face{
  font-family: BVLight;
  src: url(/Be_Vietnam/BeVietnam-Light.ttf);
}
@font-face {
  font-family: BVBold;
  src: url(/Be_Vietnam/BeVietnam-ExtraBold.ttf);
}
body {
  font-family: BVLight;
  font-size: 10px;
  color: hsl(227, 12%, 61%);
  text-align: center;
}
h2 {font-size: 2rem;}
h3{font-size: 1.2rem;}
.heading{
  color: hsl(228, 39%, 23%);
  font-family: BVBold;
}
.header {
  position: relative;
}
header img {
  padding: 40px 15px 15px 0;
}
.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 50px;
  visibility: hidden;
}
nav {
  position: absolute;
  top:100%;
  width: 100%;
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 250ms ease-in;
}
nav ul {
  list-style: none;
  display: inline-block;
  width: 100%;
}
nav li {
  margin: 5px 0 5px 20px;
  text-transform: uppercase;
}

.navbar-toggle:checked ~ nav {
  transform: scale(1,1);
}
.navbar-toggle:checked ~ label div .hamburger {
  visibility: hidden;
}
.navbar-toggle:checked ~ label div .close {
  visibility: visible;
}
label {
  position: absolute;
  top: 0px;
  right: 0px;
}
label div {
  position: relative;
}
.hamburger  {
  position: absolute;
  z-index: 8;
  padding-right: 0px;
}
.close {
  visibility: hidden;
}
.get-started {visibility: hidden;}
main{width: 100%;}
.intro {
  padding: 0 10px;
  margin-top: 80px;
  width: 100%;
  /* border: 1px solid red; */
}
.intro-image {
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
}
.intro-image img {
width: 90%;  
height: 90%;
/* border: 1px solid red; */
}
.intro-details {
  padding: 20px;
  text-align: center;
}
.intro-details h1  {
  margin-bottom: 10px;
  font-size: 2.5rem;
}
.intro-details p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.intro a {
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 25px;
  background: hsl(12, 88%, 59%);
  color: hsl(13, 100%, 96%);
  font-family: BVBold;
  font-size: 1.2rem;
}
.features {
  margin-top: 50px ;
  padding: 15px;
}

.features p {
  font-size: 1.2rem;
  margin-bottom: 50px;
}
.feature{
  margin-right: -14px;
}
.feature-heading {
  display: flex;
  column-gap: 20px;
  align-items: center;
  background: hsl(0, 0%, 98%);
}
.feature-heading span {
  background: hsl(12, 88%, 59%);
  padding: 10px 30px;
  border-radius: 25px;
  color: hsl(13, 100%, 96%);
  font-family: BVBold;
  font-size: 1.2rem;
}
.feature p {
  text-align: left;
  padding:0 5px;
}
.testimonial {
  width: 80%;
  margin: 150px auto 0 auto;
  background: hsl(0, 0%, 98%);
}
.testimonial p {
  font-size: 1.2rem;
}
.testimonial img { margin-top: -100px;}